<div *ngIf="isLoading"
    class=" position-fixed top-0 end-0 start-0 bottom-0 bg-dark  vh-100 zeindex d-flex align-items-center justify-content-center">
    <div class="pendulum d-flex align-items-center justify-content-center">
        <div class="pendulum_box d-flex align-items-center justify-content-center ">
            <div class="ball first"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball last"></div>
        </div>
    </div>
</div>
<div class="container mt-5 pt-5">
    <app-home-main-slid></app-home-main-slid>
    <app-home-categories-slid></app-home-categories-slid>
    <div class="row">
        <h3 class="fw-bold">popular items this season :</h3>
        <label class="fw-bold mt-3 ms-0" for="search">Search By Name :</label>
        <input [(ngModel)]="searchItems" placeholder="Enter the name to search for it" class="form-control" type="text"
            id="search">
        <div *ngFor="let product of allProduct|search:searchItems" class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-2">
            <app-product [product]="product"></app-product>
        </div>
        
<div class="py-5">
    <p-paginator  [rows]="2" [totalRecords]="4" (onPageChange)="getpage($event.page)">
    </p-paginator>
  </div>

    </div>
</div>

<app-footer></app-footer>